<footer>
  <span>
    <time>{{ site.time | date: '%Y' }}</time> © <a href="{{ '/' | prepend: site.baseurl }}" title="2hu.net">2hu.net</a> - 辽ICP备19011155号 - <a href="{{ '/sitemap.xml' | prepend: site.baseurl }}" title="Sitemap">SITEMAP</a>　<a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="RSS"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align:middle;width:1rem;height:1rem"><path d="M4 11a9 9 0 0 1 9 9M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/></svg></a>
  </span>
</footer>
<script src="//cdn.sh.cn/jscdn/jquery.min.js"></script>
<script src="//cdn.sh.cn/jscdn/bootstrap.min.js"></script>
