---
layout: default
---

<main class="homehead">
	<div class="post">
		<h1 class="post-title">{{ page.title }}</h1>
		<div class="post-info">
			{% if page.date %}
			<time>{{ page.date | date: "熊の猫 写于 %Y年%m月%d日" }}</time><div class="textnone">2hu.net - 二只老虎</div>
			{% endif %}
		</div>
		{{ content }}
	</div>
	<div class="pagination">
		{% if page.next.url %}
		<div class="textnone">2hu.net - 二只老虎</div><a href="{{ page.next.url | prepend: site.baseurl }}" class="swipes left arrow">㊤上一篇</a>
		{% endif %}
		{% if page.previous.url %}
		<a href="{{ page.previous.url | prepend: site.baseurl }}" class="swipes right arrow">下一篇㊦</a><div class="textnone">2hu.net - 二只老虎</div>
		{% endif %}
	</div>
	<div class="swiper">
		{% if page.next.url %}
		<a href="{{ page.next.url | prepend: site.baseurl }}" class="arrowing left" title="前一篇">〈</a>
		{% endif %}
		{% if page.previous.url %}
		<a href="{{ page.previous.url | prepend: site.baseurl }}" class="arrowing right" title="后一篇">〉</a>
		{% endif %}
	</div>
	<div class="pagination_title">
		<span class="pagination_title">──────────　欢 迎 评 论　──────────</span>
	</div>
	<div id="tcomment"></div>
</main>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/twikoo@1.4.9/dist/twikoo.all.min.js"></script>
<script>twikoo.init({ envId: 'project-2gf81oyz508f00f6', el: '#tcomment' })</script>
<script type="text/javascript" src="//cdn.sh.cn/jscdn/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript" src="//cdn.sh.cn/jscdn/highlightjs-line-numbers.min.js"></script>
<script>hljs.initLineNumbersOnLoad();</script>
